<header>
  <nav class="menu-nav">
    <ul class="menu-ul">
      <li class="menu-item">
        <a class="menu-button" href="#">Programação</a>
      </li>
      <li class="menu-item">
        <a class="menu-button" href="#">Contato</a>
      </li>
      <li class="menu-item">
        <a class="menu-button-red" href="#">Adquirir ingresso</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="programacao">
    <div class="title-programacao">
      <h1>Programação</h1>
      <p>Que abriga a Gruta e o Mirante dedicados à padroeira do povo cigano, Sara Kali.</p>
    </div>


    <div class="table-blocks">
      <div class="table-block">

        <h2 class="table-title-blue">Sábado</h2>
        <div class="table-block-data">
          <div class="table-data">
            <p>17h30</p>
            <p>Cerimônia da Mandala</p>
          </div>
        </div>
      </div>

      <div class="table-block">
        <h2 class="table-title-orange">Domingo</h2>
        <div class="table-block-data">
          <div class="table-data">
            <p>10h</p>
            <p>Hasteamento da bandeira</p>
          </div>
          <div class="table-data">
            <p>10h30</p>
            <p>Palestra Gilberto Rissato</p>
          </div>
          <div class="table-data">
            <p>14h</p>
            <p>Dança Fogueira</p>
          </div>
        </div>
      </div>
    </div>

    <section class="slide-img">
      <img src="" alt="">
    </section>


    <div>
      <a class="button-ingresso" href="">Garanta seu ingresso gratuito</a>
    </div>

  </section>
  <section class="contato">
    <div class="contato-block">
      <h1>Contato</h1>
      <div class="contato-blocks">
        <img src="" alt="">
        <p>O Santuário Sara Kali fica localizado no Instituto Colônia Esperança, próximo à Rodovia Fernão Dias, KM 865 –
          Pouso Alegre/MG.</p>
      </div>
      <div class="contato-blocks">
        <img src="" alt="">
        <p>+55 (11) 3354-1500</p>
      </div>
      <div class="contato-blocks">
        <img src="" alt="">
        <p>+ 55 (35) 9 9929-2435 | +55 (11) 9 9811-7698</p>
      </div>
      <div class="contato-blocks">
        <img src="" alt="">
        <p>faleconosco@tems.com.br</p>
      </div>
    </div>

    <div class="contato-block">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.692270102871!2d-45.88705968255615!3d-22.3652455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb953e06f36cdf%3A0x6d7b2b986f9c2903!2sSantu%C3%A1rio%20Santa%20Sara%20Kali!5e0!3m2!1spt-BR!2sbr!4v1660759142764!5m2!1spt-BR!2sbr"
        width="100%" height="370" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</main>
<footer>
  <div>
    <img src="" alt="">
    <p>Copyright by C Santuário Sara Kali</p>
  </div>
  <div>
    <h3>Realização</h3>
    <img src="" alt="">
    <img src="" alt="">
  </div>
  <div>
    <h3>Apoiador</h3>
    <img src="" alt="">
  </div>
  <div>
    <!-- NAO DEFINIDO -->
  </div>
</footer>

<div style="width: 80; height: 3000; text-align:center;margin:0; padding:0;">
  <ng-image-slider #nav 
    [images]="imageObject" [infinite]="false" [autoSlide]="1"
    [imageSize]="{width: 100, height: 600}" 
    slideImage="1">
  </ng-image-slider>
</div>