<header>
    <nav class="menu-nav">
        <ul class="menu-ul">
            <li class="menu-item">
                <button class="menu-button" (click)="scrollToId('programacao-section')">Programação</button>
            </li>
            <li class="menu-item">
                <button class="menu-button" (click)="scrollToId('contato-section')">Contato</button>
            </li>
            <li class="menu-item">
                <a class="menu-button-red" href="https://santuariosarakali.com.br/produto/encontro-de-consagracao-a-nossa-senhora/">Adquirir ingresso</a>
            </li>
        </ul>
    </nav>
</header>